[Unit]
Description=openDTUctrl dynamic inverter control
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /path/to/openDTUctrl

[Install]
WantedBy=multi-user.target
